@charset "UTF-8";
.primary-cor {
  color: #042404;
}

.primary-apoio-cor {
  color: #256020;
}

.secondary-cor {
  color: #D39724;
}

.secondary-apoio-cor {
  color: #E4B856;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #F8F9FA !important;
}

/*Fontes*/
.playfair-display, h2, h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.lora, .legenda, p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Formatação de textos*/
h1 {
  color: #212529;
  font-size: 40.5px;
  margin: 0px;
}

h2 {
  color: #343A40;
  font-size: 27px;
  margin: 0px;
}

p {
  color: #495057;
  font-size: 18px;
  margin: 0px;
}

.legenda {
  color: #495057;
  font-size: 12px;
  margin: 0px;
}

/*---------------Home---------------*/
.box-home {
  margin-top: 15vh;
}
.box-home .button-cardapio {
  border: none;
  border-radius: 30px;
  padding: 8px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: #042404;
  transition: all 0.5s;
}
.box-home .button-cardapio p {
  margin: 0px 90px 0px 20px;
  color: #EBFBEE;
}
.box-home .button-cardapio .button-ceta {
  padding: 4px 8px;
  background: #EBFBEE;
  border-radius: 50%;
}
.box-home .button-cardapio i {
  font-weight: 900;
}
.box-home .button-cardapio:hover {
  background: #256020;
}

/*Swiper carrosel*/
.swiper {
  margin-top: 50px;
  width: 600px;
  height: 300px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: visible !important;
}

/* Deixa os botões no canto inferior direito */
.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  bottom: 10px !important;
  top: auto !important;
  width: 35px !important;
  height: 35px !important;
  background-color: #042404 !important;
  border-radius: 50% !important;
  color: #EBFBEE !important;
  font-size: 18px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #021E05 !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev {
  right: 60px !important;
  left: none !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 510px) !important;
}

/*Icone bolinha*/
.swiper-pagination-bullet {
  background: #042404 !important;
}

/*Promoçoes*/
.box-descontos {
  background: transparent;
  width: 100%;
  height: 75%;
  border-radius: 20px 5px 20px 5px;
  overflow: hidden;
  position: relative;
}
.box-descontos .desconto {
  z-index: 10;
  position: absolute;
  top: 0;
  background: #042404;
  width: 80%;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px 0px 20px 0px;
}
.box-descontos .desconto h2 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}
.box-descontos .desconto p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.box-descontos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 40px 0 0 0;
}

/*# sourceMappingURL=principal.css.map */
