//Cor primaria e secondaria
$primary: #042404; 
$primary-apoio: #256020;
$primary-pressed: #021E05;
$secondary: #D39724;
$secondary-apoio: #E4B856;
$secondary-pressed: #B57A1A;
//Cor Semantica
$sucesso: #2D9114;
$informação: #007193;
$alerta:#BC9101;
$perigo:#B71B6C;
//Cor Texto
$titulo-cor: #212529;
$subtitulo-cor: #343A40;
$texto-corrido-cor: #495057;
$legenda-cor: #495057;
//Cor Plano de fundo
$plano-de-fundo: #F8F9FA;
$plano-de-fundo-2: #EFEFEF;
$verde-claro: #EBFBEE;
$amarelo-claro: #FDF7F1;
$desligado: #EBEBEB;


//Cor Classes
.primary-cor{
    color: $primary;
}
.primary-apoio-cor{
    color: $primary-apoio;
}
.secondary-cor{
    color: $secondary;
}
.secondary-apoio-cor{
    color: $secondary-apoio;
}
.verde-claro-cor{
    color: $verde-claro;
}
//Tamanhos textos

$titulo-tamanho: 40.5px;
$subtitulo-tamanho: 27px;
$subsubtitulo-tamanho: 22px;
$texto-corrido-tamanho: 18px;
$legenda-tamanho: 12px;
$sublegenda-tamanho: 8px;

//Formatação 0px
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: $plano-de-fundo !important;
    position: relative;

    &.modal-aberto{
        overflow: hidden;
    }
}

/*Button*/
%button-primary{
    button{
        white-space: nowrap;
        transition: background 0.3s ease;
        background: $primary;
        border: none;
        border-radius: 5px;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        p{
            color: $verde-claro;
        }
        i{
            color: $verde-claro;
        }
    
        &:hover{
            background: $primary-apoio;
        }
        &:active{
            background: $primary-pressed;
        }
    }
}

%button-icone{
    button{
        border: none;
        background: none;
        display: flex;
        align-items: center;
        i{
            color: $primary;
            font-size: 30px;
        }
        transition: all 0.5s;
        &:hover{
            i{
            color: $primary-apoio;
            }
        }
        &:active{
            i{
                color: $primary-pressed;
            }
        }
    }
  }


/*Fontes*/
.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Formatação de textos*/
h1{
    color: $titulo-cor;
    font-size: $titulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h2{
    color: $subtitulo-cor;
    font-size: $subtitulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h3{
    color: $subtitulo-cor;
    font-size: $subsubtitulo-tamanho !important;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
p{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
.legenda{
    color: $legenda-cor;
    font-size: $legenda-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
a{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
    text-decoration: none!important;
}

/*-----------------Carrinho-----------------*/
.modal-carrinho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 998;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    &.ativo-modal {
        opacity: 1;
        visibility: visible;
    }

    .modal-conteudo-carrinho{
        position: fixed;
        height: 100vh;
        width: 600px;
        background: $plano-de-fundo-2;
        z-index: 999;
        right: 0;
        padding: 20px;

        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;

        &.ativo-carrinho {
            transform: translateX(0);
        }

        i{
            font-size: 30px;
        }
        display: flex;
        flex-direction: column;

        .box-endereco{

            @extend %button-icone;

            .previsao-editar{
                display: flex;
                align-items: center;
            }
        }

        .box-pratos {
            margin-top: 40px;
            max-height: calc(100vh - 300px); // deixa espaço para o subtotal e o botão
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;

            transition: padding-right 0.3s ease;

            &.tem-scroll {
                padding-right: 10px; // só aplica quando tem barra
            }
        
            /* Barra de rolagem personalizada */
            &::-webkit-scrollbar {
                width: 8px;
            }
        
            &::-webkit-scrollbar-track {
                background: transparent;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: $primary;
                border-radius: 4px;
                transition: all 0.3s ease;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background-color: $primary-apoio;
            }
        
            /* Sombra dinâmica no fim da lista */
            &::after {
                content: "";
                position: sticky; /* <-- Alterado de absolute para sticky */
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40px;
                background: linear-gradient(
                    to top,
                    $plano-de-fundo-2,
                    transparent
                );
                pointer-events: none; // não bloqueia clique
                display: block;
            }

            .prato-minimizado{
                display: flex;
                justify-content: space-between;
            }
        
            .prato {
                display: flex;
                margin-bottom: 20px;
        
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                }
        
                .info-prato {
                    margin-left: 10px;
        
                    p {
                        white-space: nowrap;
                    }
        
                    i {
                        font-size: 14px;
                    }
        
                    .adcionais {
                        display: flex;
                        align-items: center;
        
                        .adcionais-p {
                            border-left: 2px solid $legenda-cor;
                            padding-left: 5px;
                        }
                    }
                }
        
                .preco {
                    margin-left: auto;
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
        
                    select {
                        width: 65px;
                        padding: 10px;
                        border: 2px solid $primary;
                        border-radius: 5px 0 0 5px;
                        background-color: transparent;
                        font-size: 16px;
                        color: $primary;
                        cursor: pointer;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
        
                        background-image: url("data:image/svg+xml;utf8,<svg fill='%23042404' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
                        background-repeat: no-repeat;
                        background-position: right 8px center;
                        background-size: 16px;
        
                        &:focus {
                            outline: none;
                            border-color: $primary-pressed;
                            box-shadow: 0 0 5px #0116047a;
                        }
                    }
        
                    button {
                        background: transparent;
                        border-radius: 0 5px 5px 0;
                        border: 2px solid $primary;
        
                        i {
                            color: $primary;
                        }
        
                        &:hover {
                            transition: all 0.5s ease;
                            background: $primary-apoio;
                            border: 2px solid $primary-apoio;
        
                            i {
                                color: $verde-claro;
                            }
                        }
                    }
                }
            }
        }
        

        .box-sub-total{
            margin-top: auto;

            .box-cupom{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: $verde-claro;
                border: 2px solid $primary;
                border-radius: 5px;
                padding: 10px;
                P{
                    margin-left: 20px;
                }

                @extend %button-primary;
            }

            .radio-buttons {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
            
            /* Container do botão */
            .radio-btn {
                position: relative;
                display: inline-block;
                cursor: pointer;
            }
            
            /* Esconde o radio original */
            .radio-btn input {
                display: none;
            }
            
            /* Estiliza o botão */
            .radio-btn p {
                display: inline-block;
                padding: 10px 20px;
                border: 2px solid #4caf50;
                border-radius: 6px;
                background-color: #fff;
                color: #4caf50;
                font-weight: 600;
                font-size: 16px;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
            }
            
            /* Quando o botão estiver selecionado */
            .radio-btn input:checked + p {
                background-color: #4caf50;
                color: white;
                box-shadow: 0 4px 10px rgba(76, 175, 80, 0.4);
                transform: scale(1.05);
            }
            
            /* Efeito hover */
            .radio-btn:hover p {
                border-color: #3e8e41;
            }
            
            /* Deixa o botão desabilitado */
            .radio-btn input:disabled + p {
                opacity: 0.5;
                cursor: not-allowed;
            }
            
        }
        .box-total{
            margin-top: 20px;
            @extend %button-primary;

            .button-finalizar{
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}