//Cor primaria e secondaria
$primary: #042404; 
$primary-apoio: #256020;
$primary-pressed: #021E05;
$secondary: #D39724;
$secondary-apoio: #E4B856;
$secondary-pressed: #B57A1A;
//Cor Semantica
$sucesso: #2D9114;
$informação: #007193;
$alerta:#BC9101;
$perigo:#B71B6C;
//Cor Texto
$titulo-cor: #212529;
$subtitulo-cor: #343A40;
$texto-corrido-cor: #495057;
$legenda-cor: #495057;
//Cor Plano de fundo
$plano-de-fundo: #F8F9FA;
$verde-claro: #EBFBEE;
$amarelo-claro: #FDF7F1;
$desligado: #EBEBEB;

//Cor Classes
.primary-cor{
    color: $primary;
}
.primary-apoio-cor{
    color: $primary-apoio;
}
.secondary-cor{
    color: $secondary;
}
.secondary-apoio-cor{
    color: $secondary-apoio;
}
.verde-claro-cor{
    color: $verde-claro;
}
//Tamanhos textos

$titulo-tamanho: 40.5px;
$subtitulo-tamanho: 27px;
$subsubtitulo-tamanho: 22px;
$texto-corrido-tamanho: 18px;
$legenda-tamanho: 12px;
$sublegenda-tamanho: 8px;

//Formatação 0px
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: $plano-de-fundo !important;
}

/*Button*/
%button-primary{
    button{
        white-space: nowrap;
        transition: background 0.3s ease;
        background: $primary;
        border: none;
        border-radius: 5px;
        padding: 10px 50px;
        p{
            color: $verde-claro;
        }
    
        &:hover{
            background: $primary-apoio;
        }
        &:active{
            background: $primary-pressed;
        }
    }
}


/*Fontes*/
.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Formatação de textos*/
h1{
    color: $titulo-cor;
    font-size: $titulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h2{
    color: $subtitulo-cor;
    font-size: $subtitulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h3{
    color: $subtitulo-cor;
    font-size: $subsubtitulo-tamanho !important;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
p{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
.legenda{
    color: $legenda-cor;
    font-size: $legenda-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
a{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}

/*---------------Home---------------*/

.box-home{
    margin-top: 15vh;
    .button-cardapio{
        border: none;
        border-radius: 30px;
        padding: 8px 10px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        background: $primary;
        transition: all 0.5s;
        p{
            margin: 0px 90px 0px 20px;
            color: $verde-claro;
        }
        .button-ceta{
            padding: 4px 8px;
            background: $verde-claro;
            border-radius: 50%;
        }
        i{
            font-weight: 900;
        }

        &:hover{
            background: $primary-apoio;
        }
    }

}

/*Swiper carrosel*/
.swiper-carrosel {
    margin-top: 50px;
    width: 600px;
    height: 300px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    overflow: hidden !important;
    
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 510px) !important;
    }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  bottom: 10px !important;
  top: auto !important;
  width: 35px !important;
  height: 35px !important;
  background-color: $primary !important;
  border-radius: 50% !important;
  color: $verde-claro !important;
  font-size: 18px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: $primary-pressed !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: ''!important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

/*Icone bolinha*/
.swiper-pagination-bullet {
    background: $primary !important;
}


/*Promoçoes*/

.box-descontos{
    background: transparent;
    width: 100%;
    height: 75%;
    overflow: hidden;
    border-radius: 20px 5px 20px 5px;
    position: relative;

    .desconto{
        z-index: 10;
        position: absolute;
        top: 0;
        background: $primary;
        width: 80%;
        flex-direction: column;
        padding: 8px;
        border-radius: 5px 0px 20px 0px;
        h2{
            margin: 0;
            color: #ffffff; 
            text-align: center;
            font-size: 22px;
        }
        p{
            margin: 0;
            text-align: center;
            color: #ffffff; 
        }
    }
    .pessoas{
        z-index: 10;
        position: absolute;
        bottom: 0;
        background: $primary;
        display: flex;
        justify-items: center;
        padding: 8px;
        border-radius:  0px 5px 0px 0px;
        p{
            margin: 0 0 0 7px;
            color: $verde-claro;
        }
        i{
            color: $verde-claro;
            font-size: 26px;
        }
    }
    img{
        width: 100%;    
        height: 100%;   
        object-fit: cover;  
        object-position: center;    
        display: block;
        border-radius: 40px 0 0 0;
    }
}


/*Carrosel de pratos Diparma*/

.box-carrosel-pedidos{
    margin-top: 120px;
    .categorias{
        margin-top: 30px;
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            align-items: flex-end;
            li{
                margin: 0px 10px;
            }

            button{
                background: none;
                border: none;
                transition: all 0.3s ease;
            }
            
            .box-ativado {
                display: flex;
                justify-content: center;
                transform: scale(0.1);
                opacity: 0;
                transition: opacity 0.4s ease, transform 0.4s ease;
              
                &.ativo {
                  transform: scale(1);
                  opacity: 1;
                }
              
                .ativado {
                  background: $primary;
                  color: $verde-claro;
                  width: 90px;
                  padding: 10px;
                  border-radius: 5px;
               
                  i {
                    font-size: 50px;
                    color: $verde-claro;
                  }
                }
              }
              
            
            .box-ativado.show {
                opacity: 1;
                transform: scale(1);
            }

            button.ativo .box-ativado {
                opacity: 1;
                transform: scale(1);
            }

            
            /*button:hover{
                i{
                    background: $primary;
                    color: $verde-claro;
                    margin: 0 20px;
                    padding: 10px;
                    border-radius: 5px;
                }
            }*/
            i{
                font-size: 50px;
                color: $primary;
            }
            
        }
    }
}

.swiper-carrosel-pratos{
    overflow: hidden !important;
    margin-top: 50px;
    width: 100%;
    height: 700px !important;
    .swiper-wrapper{
        height: 89% !important;
        /*Icone bolinha*/
    }
    p{
        font-size: $legenda-tamanho;
    }
    .bow-img{
        width: 100%;
        height: 75%;
        overflow: hidden;
        border-radius: 5px;
        position: relative;

        img{
            width: 100%;    
            height: 100%;   
            object-fit: cover;  
            object-position: center;    
            display: block;
            border-radius: 5px;
        }

        .preco{
            h2{
                color: $verde-claro;
            }
            border-radius: 5px;
            background: $primary;
            padding: 5px;
            position: absolute;
            top: 5px;
            left: 5px;
        }
    }
}


/*Box tradição*/
.box-tradicao{
    margin-top: 120px;
    h1{
        margin-bottom: 20px;
    }

    .box-chef{
        margin-top: 20px;
        display: flex;
        align-items: center;
        .img-chef{
            width: 150px;
            height: 150px;
            margin-right: 20px;
            img{
                width: 100%;    
                height: 100%;
                border-radius: 50%;
                object-fit: cover;  
                object-position: center;    
            }
        }

        .nome-frase{
            p{
                padding: 2px 0px 2px 10px;
                border-left: 3px solid $secondary;
                font-style: italic;
                margin-left: 10px;
                margin-top: 10px;
            }
            small{
                margin-left: 20px;
                color:$legenda-cor;
                font-size: $legenda-tamanho;
                @extend .lora;
            }
        }
    }
}




/*--------------------Comentarios--------------------*/

.box-comentarios{
    margin-top: 100px;
    .ver-mais{
        margin-top: 30px;
        display: flex;
        align-items: center;

        hr{
            width: 100%;
            margin: 0;
            background: $primary;
            height: 5px;
            opacity: 1;
            
        }
        @extend %button-primary;
    }
    button{
        background: none;
        border: none;
        margin: 0 20px;
        transition: all 0.3s ease;
        h2{
            transition: color 0.3s ease;
        }
        &:hover{
            h2{
                color: $secondary-apoio;
            }
        }
    }

    .ativado{
        border: 2px solid $secondary;
        border-radius: 10px;
        h2{
            color: $secondary;
        }
        &:hover{
            border: 2px solid $secondary-apoio;
        }
    }

    .comentario-carrosel{
        position: relative;
        .box-button{
            margin-left: 315px;
            position: absolute;
            height: 100%;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-content: center;
            z-index: 2;
            transition: transform 0.5s ease, opacity 0.5s ease;
            transform: translateX(0); /* posição normal */
            opacity: 1;

            &.hide{
                transform: translateX(-150%); /* empurra pra fora da direita */
                opacity: 0;
            }

            &.show{
                transform: translateX(0); /* volta pra posição original */
                opacity: 1;
            }

            .ativado{
                background: $secondary;
                p{
                    color: $verde-claro;
                }
            }

            button{
                background: $desligado;
                padding: 5px;
                border-radius: 25px;
                margin: 20px 0;
                width: 200px;
                &:hover{
                    background: $secondary-apoio;
                    p{
                        color: $amarelo-claro;
                    }
                }
            }
        }
        .swiper{
            height: 445px;
            padding: 15px 0;
            margin-top: 40px;
            .swiper-slide{
                display: flex;
                align-items: flex-end;
                .slide-content {
                    background: $verde-claro;
                    border-radius: 20px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease;
                    transform: scale(0.90);
                    transform-origin: bottom center; // 👈 IMPORTANTE
                    opacity: 0.7;
                    height: 100%;
                    .box-prato-comentario{
                        position: relative;
                        .informacao{
                            display: flex;
                            align-items: center;
                            margin-left: 10px;
                            i{
                                font-size: 20px;
                            }
                            p{
                                margin-left: 5px;
                            }
                        }
            
                        .img-prato{
                            position: absolute;
                            width: 260px;
                            height: 260px;
                            top:5px;
                            right: -63px;
                            overflow: hidden;
                            z-index: 100; /* Colocar mais alto para garantir */
                            img{
                                width: 100%;    
                                height: 100%;   
                                border-radius: 50%;
                                object-fit: cover;  
                                object-position: center;    
                                display: block;
                            }
                        }
                    }
                    .box-comentario{
                        margin-top: auto;
                        .nome-data{
                            display: flex;
                            align-items: flex-end;
                            small{
                                margin-left: 10px;
                                margin-bottom: 2px;
                                color: $legenda-cor;
                                font-size: $legenda-tamanho;
                                @extend .lora;
                            }
                        }
                        .comentario{
                            display: flex;
                            .img-perf{
                                width: 100px;
                                height: 100px;
                                overflow: hidden;
                                margin-top: 10px;
                                img{
                                    width: 100%;    
                                    height: 100%;   
                                    border-radius: 50%; 
                                    object-fit: cover;  
                                    object-position: center;    
                                    display: block;
                                }
                            }
                        }
                    }
                }
        
                &.swiper-slide-active .slide-content {
                    transform: scale(1);
                    opacity: 1;
                    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    
}


/*-----------------Footer-----------------*/

footer{
    margin-top: 60px;
    background: $primary;
    padding: 20px 0;
    .img-logo{
        img{
            width: 300px;
            height: 300px;
        }
    }
    .box-links{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 40px 20px 0 20px;
        .box-link{
            h2{
                color: $verde-claro;
            }
            p{
                color: $verde-claro;
            }
        }
    }
}