
<app-header></app-header>
<app-carrinho></app-carrinho>
<main class="">
    <section class="container box-home">
        <div class="row">
            <div class="col-8 ">
                <h1>Melhor <span class="primary-apoio-cor">Restaurante</span> de comida <br>
                <span class="secondary-cor">Italiana</span> de Lauro de Freitas</h1>
                <button class="button-cardapio d-flex jus"><p>Ver menu</p><div class="button-ceta"><i class="ph ph-arrow-right"></i></div></button>
                <div class="swiper swiper-carrosel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let prato of pratos">
                            <div class="box-descontos">
                                <img src="img/pratos/{{prato.img}}" alt="">
                                <div class="desconto">
                                    <p>{{prato.nome}}</p>
                                    <h2>R${{prato.preco}} por R${{prato.precoDesconto}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  
                    <div class="swiper-button-prev">
                        <i class="ph ph-arrow-left"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i class="ph ph-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </section>
</main>
<section class="container box-carrosel-pedidos">
    <div class="row">
        <div class="col-12">
            <h1>Colêntanea de produtos</h1>
            <nav class="categorias" aria-label="Categorias de pratos">
                <ul>
                    <li>
                      <button class="ativo">
                        <div class="box-ativado">
                          <div class="ativado"><i class="ph ph-medal"></i></div>
                        </div>
                        <h2>Popular</h2>
                      </button>
                    </li>
                    <li><button><i class="ph ph-percent"></i><h2>Promoção</h2></button></li>
                    <li><button><i class="ph ph-heart-straight"></i><h2>Clássico</h2></button></li>
                    <li><button><i class="ph ph-shooting-star"></i><h2>Recomendações</h2></button></li>
                    <li><button><i class="ph ph-bowl-food"></i><h2>Massas</h2></button></li>
                    <li><button><i class="ph ph-ice-cream"></i><h2>Sobremesas</h2></button></li>
                  </ul>
            </nav>
        </div>
        <div class="col-12">
            <div class="swiper swiper-carrosel-pratos">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let prato of pratos">
                        <div class="bow-img">
                            <img src="img/pratos/{{prato.img}}" alt="">
                            <div class="preco">
                                <h2>R${{prato.preco}}</h2>
                            </div>
                        </div>
                        <h3>{{prato.nome}}</h3>
                        <p>{{prato.legenda}}</p>
                        <div class="d-flex align-items-center">
                            <i class="ph ph-users primary-apoio-cor me-1"></i>
                            <p class="primary-apoio-cor">{{prato.pessoas}} pessoas</p>
                        </div>
                        <div class="d-flex">
                            <i class="ph ph-star primary-apoio-cor me-1"></i>
                            <p class="primary-apoio-cor">{{prato.estrela}}</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
              
                <div class="swiper-button-prev">
                    <i class="ph ph-arrow-left verde-claro-cor"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="ph ph-arrow-right verde-claro-cor"></i>
                </div>
            </div>
            <BR>
        </div>
    </div>
</section>

<section class="container box-tradicao">
    <div class="row">
        <div class="col-8">
            <h1>A Tradição <span class="secondary-cor">Italiana</span> Resgatada pela <samp class="secondary-cor">Di</samp> <span class="primary-apoio-cor">Parma</span></h1>
            <p>Na Diparma, cada prato é uma viagem no tempo. Inspirados nas antigas cantinas italianas, resgatamos sabores e tradições passadas de geração em geração. Usamos ingredientes frescos e preparo artesanal para manter viva a essência da culinária italiana: simples, verdadeira e apaixonante. Comer bem é celebrar nossas raízes e a alma da Itália, prato após prato.</p>
            <div class="box-chef">
                <div class=" img-chef">
                    <img src="img/aleatorio.jpeg" alt="Foto do chef">
                </div>
                <div class="col nome-frase">
                    <div class="d-flex align-items-end"><h2>Livia Andrade</h2><small>Chef Italiana-Americana</small></div>
                    <p>A comida italiana é sazonal. É simples. Nutritiva. Saborosa. Colorida... e faz bem para você</p>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
</section>

<section class="box-comentarios">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>O Que Dizem Nossos Clientes</h1>
                <div class="mt-3">
                    <button class="ativado"><h2>Todos</h2></button>
                    <button><h2>Parmegiana</h2></button>
                    <button><h2>Risotos</h2></button>
                    <button><h2>Risotos</h2></button>
                    <button><h2>Saladas</h2></button>
                </div>

            </div>          
        </div>
    </div>
    <div class="comentario-carrosel">
        <div class="box-button">
            <button class="ativado"><p>Todos</p></button>
            <button class="ms-auto"><p>Mais Recentes</p></button>
            <button><p>Mais Antigas</p></button>
            <button class="ms-auto"><p>Mais Bem Avaliada</p></button>
            <button><p>Sugestões</p></button>
        </div>
        <div class="swiper swiper-comentario">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-content">
                        <div class="box-prato-comentario">
                            <h2>Risoto de camarão</h2>
                            <div class="informacao">
                                <i class="ph ph-fire"></i>
                                <p>280Kcal</p>
                            </div>
                            <div class="informacao">
                               <i class="ph ph-timer"></i>
                                <p>15m</p>
                            </div>
                            <div class="informacao">
                                 <i class="ph ph-users-four"></i>
                                <p>4 pessoas</p>
                            </div>
                            <div class="img-prato">
                                <img src="img/risoto-salmao.png" alt="">
                            </div>
                        </div>
                        <div class="box-comentario">
                            <div class="nome-data">
                                <h2>Vitor Silva</h2>
                                <small>12/02/25</small>
                            </div>
                            <div class="comentario">
                                <div class="img-perf">
                                    <img src="img/aleatorio.jpeg" alt="">
                                </div>
                                <p class="col ms-2">Amo muito comer pratos de risotos do Diparma pq eles são exatamente gostosos e maravilhosos e princesos!! risotos do Diparma pq eles são exatamente!!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <div class="box-prato-comentario">
                            <h2>Risoto de camarão</h2>
                            <div class="informacao">
                                <i class="ph ph-fire"></i>
                                <p>280Kcal</p>
                            </div>
                            <div class="informacao">
                               <i class="ph ph-timer"></i>
                                <p>15m</p>
                            </div>
                            <div class="informacao">
                                 <i class="ph ph-users-four"></i>
                                <p>4 pessoas</p>
                            </div>
                            <div class="img-prato">
                                <img src="img/aleatorio.jpeg" alt="">
                            </div>
                        </div>
                        <div class="box-comentario">
                            <div class="nome-data">
                                <h2>Vitor Silva</h2>
                                <small>12/02/25</small>
                            </div>
                            <div class="comentario">
                                <div class="img-perf">
                                    <img src="img/aleatorio.jpeg" alt="">
                                </div>
                                <p class="col ms-2">Amo muito comer pratos de risotos do Diparma pq eles são exatamente gostosos e maravilhosos e princesos!! risotos do Diparma pq eles são exatamente!!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <div class="box-prato-comentario">
                            <h2>Risoto de camarão</h2>
                            <div class="informacao">
                                <i class="ph ph-fire"></i>
                                <p>280Kcal</p>
                            </div>
                            <div class="informacao">
                               <i class="ph ph-timer"></i>
                                <p>15m</p>
                            </div>
                            <div class="informacao">
                                 <i class="ph ph-users-four"></i>
                                <p>4 pessoas</p>
                            </div>
                            <div class="img-prato">
                                <img src="img/aleatorio.jpeg" alt="">
                            </div>
                        </div>
                        <div class="box-comentario">
                            <div class="nome-data">
                                <h2>Vitor Silva</h2>
                                <small>12/02/25</small>
                            </div>
                            <div class="comentario">
                                <div class="img-perf">
                                    <img src="img/aleatorio.jpeg" alt="">
                                </div>
                                <p class="col ms-2">Amo muito comer pratos de risotos do Diparma pq eles são exatamente gostosos e maravilhosos e princesos!! risotos do Diparma pq eles são exatamente!!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ver-mais">
        <hr>
        <button><p>Ver Cardapio</p></button>
        <hr>
    </div>
</section>
<app-footer></app-footer>



