<footer>
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <div class="img-logo">
                    <img src="img/marca/logo.png" alt="" srcset="">
                </div>
                <div class="box-links">
                    <div class="box-link">
                        <h2>Links</h2>
                        <a href="">Home</a>
                        <a href="">Sobre nos</a>
                        <a href="">Menu de aratos</a>
                        <a href="">Menu</a>
                    </div>
                    <div class="box-link">
                        <h2>Contatos</h2>
                        <a href="">(71)9 9136-6331</a>
                        <a href="">Vss786952@gmail.com</a>
                    </div>
                    <div class="box-link">
                        <h2>Redes Sociais</h2>
                        <a href="">Twiter</a>
                        <a href="">Instagram</a>
                        <a href="">Telegram</a>
                        <a href="">WhatsApp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 