/* You can add global styles to this file, and also import other style files */

//Cor primaria e secondaria
$primary: #042404; 
$primary-apoio: #256020;
$primary-pressed: #021E05;
$secondary: #D39724;
$secondary-apoio: #E4B856;
$secondary-pressed: #B57A1A;
//Cor Semantica
$sucesso: #2D9114;
$informação: #007193;
$alerta:#BC9101;
$perigo:#B71B6C;
//Cor Texto
$titulo-cor: #212529;
$subtitulo-cor: #343A40;
$texto-corrido-cor: #495057;
$legenda-cor: #495057;
//Cor Plano de fundo
$plano-de-fundo: #F8F9FA;
$plano-de-fundo-2: #EFEFEF;
$verde-claro: #EBFBEE;
$amarelo-claro: #FDF7F1;
$desligado: #EBEBEB;

//Cor Classes
.primary-cor{
    color: $primary;
}
.primary-apoio-cor{
    color: $primary-apoio;
}
.secondary-cor{
    color: $secondary;
}
.secondary-apoio-cor{
    color: $secondary-apoio;
}
.verde-claro-cor{
    color: $verde-claro;
}
//Tamanhos textos

$titulo-tamanho: 40.5px;
$subtitulo-tamanho: 27px;
$subsubtitulo-tamanho: 22px;
$texto-corrido-tamanho: 18px;
$legenda-tamanho: 12px;
$sublegenda-tamanho: 8px;

//Formatação 0px
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: $plano-de-fundo !important;
}

/*Button*/
%button-primary{
    button{
        display: flex;
        justify-content: center;
        color: $verde-claro;
        white-space: nowrap;
        transition: background 0.3s ease;
        background: $primary;
        border: 2px solid $primary;
        border-radius: 5px;
        padding: 10px 50px;
        p{
            color: $verde-claro;
        }
    
        &:hover{
            background: $primary-apoio;
            border: 2px solid $primary-apoio;
        }
        &:active{
            background: $primary-pressed;
            border: 2px solid $primary-pressed;

        }
    }
}

%button-icone{
    button{
        border: none;
        background: none;
        display: flex;
        align-items: center;
        i{
            color: $primary;
            font-size: 30px;
        }
        transition: all 0.5s;
        &:hover{
            i{
            color: $primary-apoio;
            }
        }
        &:active{
            i{
                color: $primary-pressed;
            }
        }
    }
  }

  %button-primary-border{
    .button-border{
        white-space: nowrap;
        transition: background 0.3s ease;
        background: none;
        border: 2px solid $primary;
        border-radius: 5px;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        p{
            color: $primary;
        }
        i{
            color: $primary;
        }
    
        &:hover{
            background: rgba($primary, 0.1);
        }
        &:active{
            background: $primary-pressed;
            p{
                color: $verde-claro;
            }
            i{
                color: $verde-claro;
            }
        }
    }
}

/*Fontes*/
.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Formatação de textos*/
h1{
    color: $titulo-cor;
    font-size: $titulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h2{
    color: $subtitulo-cor;
    font-size: $subtitulo-tamanho;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
h3{
    color: $subtitulo-cor;
    font-size: $subsubtitulo-tamanho !important;
    @extend .playfair-display;
    margin-bottom: 0px !important;
}
p{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
.legenda{
    color: $legenda-cor;
    font-size: $legenda-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
}
a{
    color: $texto-corrido-cor;
    font-size: $texto-corrido-tamanho;
    @extend .lora;
    margin-bottom: 0px !important;
    text-decoration: none!important;
}