<header class="cabecalho">
    <div class="navbar navbar-expand-sm">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="">
                <img class="img-nav" src="img/marca/logo.png" alt="Logotipo">
            </a>    
            <nav class="d-none d-sm-block nav-estilo nav-estilo-hover">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Pratos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Sobre</a>
                    </li>
                </ul>
            </nav>
            <div class="icone-nav" style="width: 100px;">
                <button (click)="irParaLogin()"><i class="ph ph-user"></i></button>
                <button (click)="abrirCarrinho()"><i class="ph ph-handbag"></i></button>
            </div>
        </div>
    </div>
</header>